body {
  min-height: 100vh;
  background-image: url(./Assets/background_cloud.png), linear-gradient(180deg, rgb(86, 86, 231), 20%, #fcce51);
  background-repeat: repeat;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0px white, -1px -1px 0px white;
}

#background {
  background-image: url(./Assets/Background-mockup.png);
  background-position: 49% -130px;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 35px;
}

.input {
  width: 75%;
}

#interface {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 4px rgb(60, 70, 156);
  border-radius: 20px;
  width: fit-content;
  padding: 10px;
  gap: 1px;
}

button {
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  border: 1px solid orange;
  text-shadow: -1px 1px 2px white, 1px 1px 2px white, 1px -1px 0px white, -1px -1px 0px white;
}

p {
  margin: auto;
  width: 75%;
  padding: 10px;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: fit-content;
  margin: 15px 10px 50px auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 4px #fcce51;
  border-radius: 20px;

}

.inputControls {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  margin: auto;
}

.container-active {
  width: 403px;
  height: 191px;
  border-radius: 1px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.container-inactive {
  width: 403px;
  height: 191px;
  border-radius: 1px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  pointer-events: none;
}

.row {
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 1 auto;
}

.square {
  border: solid rgba(0, 0, 0, 0.3) 1px;
  width: 50px;
  height: auto;
  flex: 1 1 auto;
}

